<div class="jumbotron">
    <h1 class="display-4">Oops Error</h1>
    <p class="lead">There is already a user registered with this mobile number.</p>
    <hr class="my-4">
    <p>Please enter a new mobile number.</p>
    <a class="btn btn-primary btn-lg" href="/admin/register" role="button">Register Again</a>
</div>