<div class="jumbotron">
    <h1 class="display-4">Oops Error</h1>
    <p class="lead">You have entered the wrong otp.</p>
    <hr class="my-4">
    <p>Try to register again</p>
    <a class="btn btn-primary btn-lg" href="/admin/register" role="button">Admin Register</a>
</div>