<div class="home-page">
    <div>
        <h1 class="py-5">Crowd Funding</h1>
    </div>
    <div class="home-center">
        <div class="home-buttons">
            <div class="btn-1"><button><a href="/ngo/medical"
                        class="text-white text-decoration-none">Medical</a></button></div>
            <div class="btn-1"><button><a href="/ngo/education"
                        class="text-white text-decoration-none">Education</a></button>
            </div>
            <div class="btn-1"><button><a href="/ngo/environment"
                        class="text-white text-decoration-none">Environment</a></button></div>
        </div>
    </div>
    <div class="home-signup">
        <div class="admin-login ">
            <button class="btn-1"><a href='/admin/login'>Login NGO</a></button>
        </div>
        <div class="admin-register">
            <button class="btn-1"><a href='/admin/register'>Register NGO</a></button>
        </div>
    </div>
</div>