{{#if payment}}
<section class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">We appreciate your contribution and this will be definitely make a change in our society.</p>
    <a href="/" class="btn btn-dark btn-lg">Home</a>
</section>

{{/if}}

<section class="py-5">
    <h1 class="display-3">
        Oops
    </h1>
    <p class="lead">Your payment has failed. Please try again.</p>
    <a href="/" class="btn btn-dark btn-lg">Go Back</a>
</section>