<div class="jumbotron">
    <h1 class="display-4">Oops Error</h1>
    <p class="lead">There is a server again. We are very sorry!!!</p>
    <hr class="my-4">
    <p>Try again</p>
    <a class="btn btn-primary btn-lg" href="/admin/dashboard" role="button">Home Page</a>
</div>