<div class="jumbotron">
    <h1 class="display-4">Oops Error</h1>
    <p class="lead">You cannot add more than 5 current programs.</p>
    <hr class="my-4">
    <p>You have to delete programs to add new programs.</p>
    <a class="btn btn-primary btn-lg" href="/admin/dashboard" role="button">Dashboard</a>
</div>